.login {
  position: relative;
  height: 100vh;
  background-image: url("https://res.cloudinary.com/dvbmbe4cl/image/upload/v1758535647/8ccaf66f19edc15e3aa6b6a1301fd6667bf2509e_hyybbd.jpg");
  background-size: cover;
  background-position: center;
}
